:root {
  --nc-util-bg: #f5f5f5;
  --nc-primary-bg: #fef6f5;
  --nc-cl-hd: #cc3b1e;
  --nc-cl-hd2-dost: #dd3f1f;
  --nc-bg-bd: #ee4d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--nc-util-bg);
}

.container {
  width: 1300px;
  margin: 0 auto;
}

div {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
a {
  background-color: initial;
}

li {
  list-style: none;
}

header {
  background-color: #cc3b1e;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  display: flex;
  align-items: center;
}

.time i {
  color: #fff;
  margin: 0 5px;
}

.flex-header {
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 300;
  padding: 0.25rem;
  position: relative;
  overflow: visible;
  outline: 0;
  padding-left: 0.825rem;
}

.onl-ht {
  padding-left: 0;
}

.flex-header:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.ht1:not(:first-child):after {
  content: "";
  height: 0.9375rem;
  width: 0;
  border-left: 1px solid hsla(0, 0%, 100%, 0.22);
  border-right: 1px solid hsla(0, 0%, 100%, 0.22);
  position: absolute;
  left: -6px;
  top: calc(50% - 7px);
  margin-left: 0.625rem;
}

.btn-span {
  display: flex;
  align-items: center;
  color: #fff;
}

.btn-span .a-cart,
.btn-span .fa-cart-plus,
.btn-span .signup,
.btn-span .login,
.btn-span .fa-user-edit,
.btn-span .fa-sign-in {
  text-decoration: none;
  color: #fff;
}

.btn-span .a-cart,
.btn-span .signup,
.btn-span .login {
  padding: 10px 0;
}

.btn-span .a-cart:hover,
.btn-span .signup:hover,
.btn-span .login:hover {
  color: #ccc;
  transition: 0.1s ease-in-out;
}

.nomation {
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 300;
  padding: 0.25rem;
  position: relative;
  overflow: visible;
  outline: 0;
}

.line-top {
  width: 1px;
  height: 16px;
  background-color: hsla(0, 0%, 100%, 0.642);
  margin: 0 10px;
}

/* login and signup success */

.btn-span nav ul .boxUser {
  padding: 7px 0;
}

.btn-span nav ul .userLog,
.btn-span nav ul .nomation,
.btn-span nav ul .fa-user,
.btn-span nav ul .fa-bell {
  color: #fff;
  text-decoration: none;
}

.btn-span nav ul .userLog:hover,
.btn-span nav ul .nomation:hover {
  color: hsla(0, 0%, 100%, 0.7);
  transition: 0.1s ease-in-out;
}

.btn-span nav .userTop {
  display: flex;
  align-items: center;
  list-style: none;
}

.btn-span nav li {
  position: relative;
}

.btn-span nav ul li > ul {
  position: absolute;
  z-index: 9999;
  top: 33px;
  right: -29px;
  width: 170px;
  display: none;
  transition: all 0.3s ease-in-out;
}

.btn-span nav ul li > ul li {
  padding: 10px 20px;
  background-color: #fff;
  list-style: none;
  cursor: pointer;
}

.btn-span nav ul li > ul li:hover a {
  color: rgb(26, 212, 212);
}

.btn-span nav ul li > ul li:hover {
  background-color: #f5f5f5;
}

.btn-span nav ul li > ul li a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #000000c3;
}

.boxUser:hover .userChil {
  display: block;
  animation: showMenuLi 0.3s ease-in-out forwards;
}

.nav-bn {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 20px;
}

.header-logo-navH1 {
  padding-right: 3.3rem;
}

.header-logo-navH1 img {
  width: 219px;
}

@keyframes showMenuLi {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-with-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 840px;
  position: relative;
}

.header-with-search .vanh-searchbar {
  display: flex;
  align-items: stretch;
  --focus-indicator-spacing: 3px;
  justify-content: space-between;
  height: 2.5rem;
  box-sizing: border-box;
  padding: 0.1875rem;
  border-radius: 2px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.09);
}

.vanh-searchbar__main {
  display: flex;
  flex: 1;
}

form {
  display: block;
  margin-top: 0em;
}

.nav-bn .vanh-searchbar-form {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding: 0 0.075rem 0 0.625rem;
  position: relative;
  background-color: #fff;
  border-color: #fff;
}

input {
  line-height: normal;
  color: inherit;
  font: inherit;
  margin: 0;
}

.vanh-searchbar-form-input {
  display: flex;
  flex: 1;
  align-items: center;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.header-with-search-wrapper .vanh-searchbar > .btn-solid-primary {
  position: relative;
  overflow: visible;
  outline: 0;
  background: #fb5533;
}

.btn-solid-primary {
  color: #fff;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #ee4d2d;
}

.btn--s {
  height: 34px;
  padding: 0 15px;
  min-width: 60px;
  max-width: 190px;
}

.btn--inline {
  display: inline-flex;
}

.btn {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  flex-direction: column;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  outline: 0;
  cursor: pointer;
}

.btn-chil-icon .fa-magnifying-glass {
  color: #fff;
  font-size: 17px;
}

.btn__click_view_search_pr {
  position: relative;
}

.btn__click_view_search_pr input {
  position: relative;
}

.btn__click_view_search_pr i {
  position: absolute;
  color: #fff;
  font-size: 17px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}

._6o9eaa {
  position: absolute;
  width: 101%;
  top: calc(100% - .125rem);
  height: 1.875rem;
  background-color: #ee4d2d;
  color: #fff;
  left: -.0625rem;
  text-align: center;
  line-height: 1.875rem;
  border: 1px solid #ee4d2d;
  border-bottom-left-radius: .125rem;
  border-bottom-right-radius: .125rem;
  z-index: 1;
  opacity: 0;
}

.ZK4XOV .GnRhpE {
  border: 1px solid transparent;
}

.ZK4XOV .GnRhpE:hover {
  border: 1px solid #ee4d2d;
  z-index: 2;
}

.ZK4XOV .GnRhpE:hover .vanhstore-item-card__hover-footer {
  opacity: 1;
  transition: opacity .1s;
}

._6o9eaa a {
  color: #fff;
}

.btn-chil-icon:hover {
  background: #fb6445;
}

.header-with-search__cart-wrapper {
  position: relative;
}

.header-with-search-wrapper a {
  display: block;
  padding: 23px;
}

.header-with-search__cart-wrapper i {
  color: #fff;
  font-size: 24px;
}

.hoverProduct__cart {
  position: absolute;
  z-index: 9999;
  top: 70px;
  right: 57px;
  background: #fff;
  width: 26rem;
  display: none;
  transform-origin: 373px top;
  animation: 0.2s cubic-bezier(0.4, 0, 0.6, 1) 0s 1 normal none running
    popover-hide-animation;
}

@keyframes popover-hide-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.hoverProduct__cart_textTop {
  text-transform: capitalize;
  font-size: 14px;
  color: #9b9a9a;
  padding: 11px 13px;
}

.list__hoverProduct__cart {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.125rem;
  overflow: hidden;
}

.cart_boxContentProduct_img {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.cart_boxContentProduct_imgChil {
  width: 60px;
  height: 60px;
}

.cart_boxContentProduct_flex {
  display: flex;
  padding: 10px 13px;
}

.cart_boxContentProduct_flex:hover {
  background-color: #f2f2f2d2;
}

.cart_boxContentProduct_img img {
  width: 100%;
  height: 100%;
}

.cart_boxContentProduct_textContent {
  margin-left: 0.625rem;
  font-size: 14px;
  width: 240px;
  font-weight: 400;
}

.cart_boxContentProduct_priceProduct {
  font-size: 15px;
  color: #ee4d2d;
}

.cart_boxContentProduct_btnhrefProduct {
  display: flex;
  justify-content: end;
  padding: 10px 13px;
}

.cart_boxContentProduct_btnhrefProduct .aViewProduct {
  background-color: var(--nc-cl-hd2-dost);
  padding: 10px;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
}

.cart_boxContentProduct_btnhrefProduct .aViewProduct:hover {
  background-color: #dd3f1fd3;
}

.header-with-search__cart_hoverProductCart {
  padding: 24px 13px;
}

.list__hoverProduct__cartNoProduct {
  text-align: center;
  padding: 3.75rem 0;
}

.cart_boxContentProduct_flex__bg_img {
  background: url(../img1/noproduct.png);
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 6.25rem;
  height: 6.25rem;
  background-size: cover;
}

.header-with-search__cart_hoverProductCart:hover .hoverProduct__cart {
  display: inline;
}

.amount__sessionCart {
  position: absolute;
  right: 59px;
  top: 9px;
  border: 3px solid;
  width: 26px;
  height: 26px;
  color: #cc3b1e;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.vanh-navBarr__main {
  width: 100%;
  display: flex;
  flex: 1;
}

.vanh-navBarr__Ul-li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.1875rem;
  font-size: 15px;
  font-weight: 300;
  flex-wrap: nowrap;
  overflow-y: visible;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
}

.vanh-navBarr__Ul-li ul {
  list-style: none;
}

.vanh-navBarr__Ul-li .vanh-navBarr__a {
  color: #fff;
  position: relative;
  padding-bottom: 18px;
}

.vanh-navBarr__a ul {
  position: absolute;
  top: 20px;
  list-style: none;
}

.chil-nav {
  position: absolute;
  top: 35px;
  left: -27px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  background: #fff;
  padding: 20px 30px 6px 30px;
  z-index: 100;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
  display: none;
  animation: showMenuHeaderNav 0.2s ease-in-out forwards;
}

.chil-nav2 {
  position: absolute;
  top: 35px;
  left: 94px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  background: #fff;
  padding: 20px 30px 6px 30px;
  z-index: 100;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
  display: none;
  animation: showMenuHeaderNav 0.2s ease-in-out forwards;
}

.chil-nav3 {
  position: absolute;
  top: 35px;
  right: -219px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  background: #fff;
  padding: 20px 30px 6px 30px;
  z-index: 100;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
  display: none;
  animation: showMenuHeaderNav 0.2s ease-in-out forwards;
}

.vanh-navBarr__Ul-li .vanh-navBarr__a:hover {
  color: hsla(0, 0%, 100%, 0.7);
  transition: all 0.2s ease-in-out;
}

.vanh-navBarr__main .vanh-navBarr__Ul-li > li.megamenu__li:hover .chil-nav,
.vanh-navBarr__main .vanh-navBarr__Ul-li > li.megamenu__li:hover .chil-nav2,
.vanh-navBarr__main .vanh-navBarr__Ul-li > li.megamenu__li:hover .chil-nav3 {
  display: flex;
  transition: all 0.2s ease-in-out;
}

@keyframes showMenuHeaderNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.vanh-navBarr__a i {
  font-size: 11px;
}

.h3_logo__productNavBar {
  color: #cc3b1e;
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.chil-nav__liMenu {
  margin-bottom: 14px;
}

.chil-nav__liMenu a {
  color: #707070;
  position: relative;
}

.chil-nav__liMenu a:hover {
  color: #cc3b1e;
}

.chil-nav__liMenu a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #cc3b1e;
  border-radius: 7px;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.chil-nav__liMenu a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.header-with-search__cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-bottom: 20px;
  margin: 0 10px;
}

.nav-hea {
  background: #cc3b1e;
}

.nav-hea.sticky .header-nav {
  top: 5px;
}

.flast {
  background: #000;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border-top: 3px solid #e94141;
}

.search-full {
  background: #000;
  padding: 15px;
}

.search-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

#one {
  width: 25%;
  border: none;
  height: 40px;
  background: #eee;
  outline: none;
  display: inline-block;
  font-size: 16px;
}

.search-main {
  width: 50%;
  height: 40px;
  outline: none;
  border: none;
  background: #fff;
  padding-left: 10px;
  font-size: 16px;
}

.money-select {
  border: none;
  width: 15%;
}

#two {
  border: none;
  width: 20%;
  outline: none;
  height: 40px;
  background: #eee;
  font-size: 16px;
}

.search-main-btn {
  width: 120px;
  height: 40px;
  background-color: rgba(255, 21, 0, 0.669);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.search-main-btn:hover {
  background-color: rgba(255, 21, 0, 0.925);
}

.flast-center {
  position: absolute;
  width: 1300px;
  bottom: -30px;
}

/* End header */

/* main */

.main__category {
  transition: margin-top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.div__main__category__vanhstore {
  min-height: 100vh;
}

.category-banners {
  margin-top: 1.875rem;
}

.category__banners__full {
  position: relative;
}

.category__banners__flex {
  width: 1300px;
  overflow: hidden;
}

.category__banners__imgs {
  display: flex;
  transition: all 0.4s ease;
}

.category__banners__imgs img {
  width: 1300px;
  height: 360px;
  object-fit: cover;
}

.btn__click__banners > button {
  position: absolute;
  font-size: 40px;
  border-radius: 2px;
  border: 1px solid #000;
  width: 42px;
  height: 62px;
  color: #ffffff58;
  background-color: rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.09);
  fill: rgba(0, 0, 0, 0.89);
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

.btn__click__banners button:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.489);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.268);
  fill: rgba(0, 0, 0, 0.87);
}

.btn__click__banners .click-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.btn__click__banners .click-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.category__banners__full:hover .btn__click__banners > button {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.list-icdost__dostClick {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
}

.list-icdost__dostClick .icdost {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
  border: 1px solid hsla(0, 0%, 53.7%, 0.4);
  background-color: hsla(0, 0%, 100%, 0.4);
}

.active {
  background: var(--nc-cl-hd2-dost) !important;
}

.category__product {
  display: flex;
  margin-top: 1.875rem;
}

.category__title__text {
  flex: 0 0 11.875rem;
  min-width: 0;
  margin: 0 1.25rem 1.25rem 0;
}

.flex__all__list__category {
  display: block;
  height: 3.125rem;
  margin-bottom: 0.625rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 3.125rem;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.flex__all__list__category .fa-bars {
  margin-right: 0.625rem;
}

.folding-items__list__category {
  display: flex;
  flex-direction: column;
}

.vanhstore-category-list__sub-category {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  max-height: 3rem;
  padding: 0.5rem 0.625rem 0.5rem 0.75rem;
  line-height: 1rem;
  word-wrap: break-word;
}

.vanhstore-category-list__sub-category i {
  font-size: 6px;
  margin-right: 5px;
  position: absolute;
  left: 0;
  opacity: 0;
  width: 7px;
  height: 7px;
  margin-top: 4px;
}

.folding-items__toggle {
  display: flex;
  flex-direction: column;
}

.vanhstore-category-list__toggle-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.625rem 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.vanhstore-category-list__toggle-btn .fa-chevron-down {
  font-size: 10px;
  margin-left: 0.625rem;
  fill: rgba(0, 0, 0, 0.8);
}

.list-category__active {
  color: var(--nc-bg-bd);
  font-weight: 700;
  opacity: 1 !important;
}

.stardust-dropdown__item-body {
  transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.vanhstore-search-filter-status {
  margin-top: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  height: 1.875rem;
  font-weight: 700;
  font-size: 1rem;
}

.vanhstore-search-filter-status svg {
  font-size: 0.75rem;
  margin-right: 0.625rem;
  stroke: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

.vanhstore-search-filter-status__text {
  flex: 1;
}

.vanhstore-filter-group {
  padding: 1.25rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.vanhstore-filter-group__header {
  margin-bottom: 0.625rem;
  font-weight: 500;
  font-size: 15px;
}

.vanhstore-filter {
  padding: 0.5rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.vanhstore-checkbox {
  display: block;
  color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.vanhstore-checkbox__control {
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  font-size: 0.875rem;
}

.a-checkbox__href {
  margin-right: 5px;
  position: absolute;
  left: 0;
  top: 1px;
}

.vanhstore-checkbox__box {
  display: flex;
  align-items: center;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  justify-content: center;
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
  width: 0.8125rem;
  height: 0.8125rem;
  line-height: 0.6875rem;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  flex-shrink: 0;
  margin-right: 0.625rem;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.vanhstore-checkbox__box svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: #ee4d2d;
  position: relative;
  font-size: 0.5rem;
  opacity: 0;
}

svg.active__checked_cate {
  opacity: 1;
}

.vanhstore-checkbox__label {
  padding-left: 22px;
}

.vanhstore-filter-group__toggle-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.625rem 0.5rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.vanhstore-filter-group__toggle-btn .fa-chevron-down {
  font-size: 10px;
  margin-left: 0.625rem;
  fill: rgba(0, 0, 0, 0.8);
}

.toggle__cate {
  padding-left: 1.25rem;
}

.active__header__toggle {
  height: auto;
  opacity: 1;
}

.vanhstore-price-range-filter {
  padding: 1.25rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.vanhstore-price-range-filter__text {
  margin-bottom: 0.625rem;
  font-weight: 500;
}

.vanhstore-price-range-filter__inputs {
  margin: 1.25rem 0 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vanhstore-price-range-filter__input {
  width: 5rem;
  font-size: 0.75rem;
  height: 1.875rem;
  background-color: #fff;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.26);
  box-sizing: border-box;
  padding-left: 0.3125rem;
  font-size: 0.8125rem;
  border-radius: 0.125rem;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.vanhstore-price-range-filter__range-line {
  flex: 1;
  height: 1px;
  background: #bdbdbd;
  margin: 0 0.625rem;
}

.btn-price__range-filter {
  width: 100%;
  height: 1.875rem;
  margin: 1.25rem 0 0;
  text-transform: uppercase;
  font-weight: 400;
  background-color: rgb(210, 63, 34);
  cursor: pointer;
  border: 0;
  font-size: 0.875rem;
  color: #fff;
}

.btn-price__range-filter:hover {
  background-color: rgba(210, 63, 34, 0.852);
}

.category__list__product {
  width: 100%;
}

.vanhstore-sort-bar {
  font-weight: 400;
  background: rgba(0, 0, 0, 0.03);
  padding: 0.8125rem 1.25rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.vanhstore-sort-bar__label {
  color: #555;
  margin: 0 0.3125rem 0 0;
}

.vanhstore-sort-by-options {
  display: flex;
  align-items: stretch;
  flex: 1;
  grid-gap: 0.625rem;
  gap: 0.625rem;
  justify-content: flex-start;
}

.vanhstore-sort-by-options__option-group {
  display: flex;
  grid-gap: 0.625rem;
  gap: 0.625rem;
  margin-left: 0.625rem;
  color: #fff;
}


.shopee-search-result-header__text-highlight {
  color: rgb(238, 77, 45);
  font-weight: 400;
  text-decoration: none;
}

.btn-sort__bar {
  overflow: visible;
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  display: flex;
  min-width: 5.625rem;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 0 0.9375rem;
  background: #fff;
  white-space: nowrap;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  height: 2.125rem;
  line-height: 2.125rem;
  border-radius: 2px;
  border: 0;
  font-size: 14px;
  color: #000000c7;
}

.active-sortbar {
  background: #ee4d2d;
  color: #fff;
}

.sort-price-select {
  text-align: left;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  height: 2.125rem;
  line-height: 2.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  min-width: 12.5rem;
  background: #fff;
  transition: border-color 0.1s ease;
  padding-left: 0.75rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.sort-price-select:hover {
  aria-expanded: true;
  data-state: open;
}

.sort-price-select .shopee-svg-icon.icon-arrow-down-small {
  width: 0.75rem;
  fill: #555;
  margin-right: 0.75rem;
}

.price__svg {
  font-size: 14px;
  color: #000000c7;
}

.price-hover__desc {
  position: absolute;
  z-index: 999;
  top: 34px;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 0.25rem 0.95rem;
  padding-left: 0.75rem;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px rgba(0.1, 0, 0, 0.02);
  opacity: 0;
}

.price-hover__desc a {
  color: #000000c7;
  font-weight: 500;
}

.price-hover__desc a:hover {
  color: #ee4d2d;
}

.sort-price-select:hover .price-hover__desc {
  opacity: 1;
}

.flex__price_bost {
  display: flex;
  align-items: center;
}

.vanhstore-mini-page-controller {
  display: flex;
  align-items: center;
}

.vanhstore-mini-page-controller__state {
  margin-right: 20px;
}

.vanhstore-mini-page-controller__current,
.vanhstore-mini-page-controller__total {
  font-size: 15px;
}

.vanhstore-mini_controller_left,
.vanhstore-mini_controller_right {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  width: 2.25rem;
  height: 2.125rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
}

.vanhstore-mini_controller_left:hover,
.vanhstore-mini_controller_right:hover {
  background-color: #fff;
}

.vanhstore-search-item-result__items {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.col-xs-2-4 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  flex-basis: 20%;
  max-width: 20%;
  margin: 0.3125rem 0;
}

.ZK4XOV {
  height: 100%;
  box-sizing: border-box;
}

.GnRhpE {
  height: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.125rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: relative;
  overflow: visible;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0;
  transition: transform 0.1s cubic-bezier(0.4, 0, 0.6, 1),
    box-shadow 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}

.Vd2yUl {
  position: relative;
}

.OI9tKN {
  width: 100%;
  padding-top: 100%;
}

.KbUcCB {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.2s ease;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: contain;
}

.D3Hha7 {
  position: absolute;
  left: 0;
  top: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  max-width: 70%;
}

.JhPmwn {
  position: relative;
  display: flex;
  align-items: center;
  height: 0.9375rem;
  font-size: 0.5625rem;
  line-height: 0.6875rem;
  font-weight: 500;
  padding: 0 4px;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  background: currentColor;
  left: -0.1875rem;
  padding: 0 0.25rem;
  height: 1rem;
  color: rgb(242, 82, 32);
}

.JhPmwn:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -0.1875rem;
  border-top: 0.1875rem solid;
  border-left: 0.1875rem solid transparent;
  filter: brightness(60%);
}

.hxLzax {
  color: #fff;
  font-size: 0.75rem;
  line-height: 0.875rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DqPlQB {
  color: #fff;
}

.TS7wv2 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.JC9p5x {
  display: block;
  padding: 0.125rem 0.25rem;
  background-color: #ffe97a;
  border-bottom-left-radius: 0.125rem;
}

.JC9p5x .FTxtVW {
  display: block;
  color: #ec3814;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 500;
}

.N\+Ex9S {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.GnRhpE:hover {
  box-shadow: 0 0.0625rem 20px 0 rgba(0,0,0,.05);
  transform: translateY(-.0625rem);
  z-index: 1;
}

.N\+Ex9S .customized-overlay-image img {
  width: 100%;
}
.Vd2yUl img {
  vertical-align: bottom;
}

.JxvxgB,
.wuYpH6 {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.JxvxgB {
  padding: 0.5rem;
  overflow: hidden;
}

.efwNRW {
  flex-grow: 1;
  min-height: 1.75rem;
}

.Zvjf4O.Zvjf4O {
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 14px;
  font-size: 0.75rem;
}

.cA9TT\+ {
  padding: .5rem 0 0;
  display: flex;
  height: 1.25rem;
  align-items: center;
  overflow: hidden;
}

.FMvHxS {
  color: rgba(0,0,0,.54);
  text-decoration: line-through;
  margin-right: 5px;
}

.bPcAVl {
  display: inline;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.H5ICvW, .IWBsMB {
  max-width: 100%;
  transition: all .1s cubic-bezier(.4,0,.6,1);
}
.H5ICvW {
  flex: 0 1 auto;
}

.bPcAVl {
  display: inline;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.IWBsMB {
  flex-grow: 1;
  flex-shrink: 0;
  color: #ee4d2d;
}
.H5ICvW, .IWBsMB {
  max-width: 100%;
  transition: all .1s cubic-bezier(.4,0,.6,1);
}

.\+gdNDl, .DN6Jp1 {
  display: flex;
  align-items: center;
}

.DN6Jp1 {
  height: 1.25rem;
  margin-top: .75rem;
}

.eumuJJ {
  margin-left: .25rem;
}

.OwmBnn {
  color: rgba(0,0,0,.87);
  line-height: .875rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.OwmBnn, .TZXbtV {
  font-size: .75rem;
}

.section-recommend-products-wrapper__Box {
  margin-top: -0.5rem !important;
  padding: 0 !important;
}

.stardust-tabs-header-product {
  padding: 5px !important;
}

.wpB2 {
  margin-top: 14px !important;
}

/* end main */

/* footer */

footer {
  border-top: 4px solid var(--nc-cl-hd);
  margin-top: 80px;
  background: #fff;
  height: 338px;
}

.delivery {
  background: var(--nc-cl-hd);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  top: -40px;
}

.delivery-content {
  display: flex;
  align-items: center;
}

.delivery-content img {
  width: 44px;
  height: 44px;
}

.delivery-text {
  margin-left: 10px;
}

.delivery-text h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.delivery-text p {
  color: #fff;
}

.footer-information {
  color: #000;
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
}

.footer-text h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 22px;
  color: #000000c7;
}

.footer-text .logo__vanhCart_footer {
  width: 219px;
}

.footer-text p {
  font-size: 17px;
  margin-bottom: 10px;
}

.address-footer li {
  margin-bottom: 15px;
}

.address-footer-hover ul {
  list-style: none;
  width: 120px;
}

.address-footer-hover li {
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

.address-footer-hover a {
  color: #000000c7;
  transition: all 0.3s ease-in-out;
}

.address-footer-hover li:hover {
  transform: translateX(7px);
  color: var(--nc-cl-hd);
}

.address-footer-hover li:hover a {
  color: var(--nc-cl-hd);
}

.form-footer input {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  border: 1px solid #00000054;
}

.form-footer input:focus {
  box-shadow: 0px 0px 8px rgb(7, 210, 246);
  transition: 0.2s ease-in-out;
}

.form-footer .send {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(0 128 0 / 67%);
  border: none;
  font-weight: 600;
  transition: 0.3s;
}
.form-footer .reset {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(255 0 0 / 60%);
  border: none;
  font-weight: 600;
  transition: 0.3s;
}

.form-footer .send:hover {
  background-color: rgb(3, 175, 3);
}

.form-footer .reset:hover {
  background-color: rgb(255, 0, 0);
}
