:root {
  --nc-util-bg: #f5f5f5;
  --nc-primary-bg: #fef6f5;
  --nc-cl-hd: #cc3b1e;
  --nc-cl-hd2-dost: #dd3f1f;
  --nc-bg-bd: #ee4d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--nc-util-bg);
}

.container {
  width: 1300px;
  margin: 0 auto;
}

div {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a {
  background-color: initial;
}

header {
  background-color: #cc3b1e;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information_Err {
  padding-top: 6px;
  font-size: 14px;
  color: red;
}

.radio_vnpay {
  display: none;
}

.time {
  display: flex;
  align-items: center;
}

.time i {
  color: #fff;
  margin: 0 5px;
}

.flex-header {
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 300;
  padding: 0.25rem;
  position: relative;
  overflow: visible;
  outline: 0;
  padding-left: 0.825rem;
}

.onl-ht {
  padding-left: 0;
}

.flex-header:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.ht1:not(:first-child):after {
  content: "";
  height: 0.9375rem;
  width: 0;
  border-left: 1px solid hsla(0, 0%, 100%, 0.22);
  border-right: 1px solid hsla(0, 0%, 100%, 0.22);
  position: absolute;
  left: -6px;
  top: calc(50% - 7px);
  margin-left: 0.625rem;
}

.btn-span {
  display: flex;
  align-items: center;
  color: #fff;
}

.btn-span .a-cart,
.btn-span .fa-cart-plus,
.btn-span .signup,
.btn-span .login,
.btn-span .fa-user-edit,
.btn-span .fa-sign-in {
  text-decoration: none;
  color: #fff;
}

.btn-span .a-cart,
.btn-span .signup,
.btn-span .login {
  padding: 10px 0;
}

.btn-span .a-cart:hover,
.btn-span .signup:hover,
.btn-span .login:hover {
  color: #ccc;
  transition: 0.1s ease-in-out;
}

.line-top {
  width: 1px;
  height: 16px;
  background-color: hsla(0, 0%, 100%, 0.642);
  margin: 0 10px;
}

/* login and signup success */

.btn-span nav ul .boxUser {
  padding: 7px 0;
}

.btn-span nav ul .userLog,
.btn-span nav ul .nomation,
.btn-span nav ul .fa-user,
.btn-span nav ul .fa-bell {
  color: #fff;
  text-decoration: none;
}

.btn-span nav ul .userLog:hover,
.btn-span nav ul .nomation:hover {
  color: hsla(0, 0%, 100%, 0.7);
  transition: 0.1s ease-in-out;
}

.nomation {
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 300;
  padding: 0.25rem;
  position: relative;
  overflow: visible;
  outline: 0;
}

.btn-span nav .userTop {
  display: flex;
  align-items: center;
  list-style: none;
}

.btn-span nav li {
  position: relative;
}

.btn-span nav ul li > ul {
  position: absolute;
  z-index: 9999;
  top: 33px;
  right: -29px;
  width: 170px;
  display: none;
  transition: all 0.3s ease-in-out;
}

.btn-span nav ul li > ul li {
  padding: 10px 20px;
  background-color: #fff;
  list-style: none;
  cursor: pointer;
}

.btn-span nav ul li > ul li:hover a {
  color: rgb(26, 212, 212);
}

.btn-span nav ul li > ul li:hover {
  background-color: #f5f5f5;
}

.btn-span nav ul li > ul li a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #000000c3;
}

.boxUser:hover .userChil {
  display: block;
  animation: showMenuLi 0.3s ease-in-out forwards;
}

.nav-bn {
  display: flex;
  height: 5.3125rem;
  justify-content: space-between;
  padding: 1rem 0 0.625rem;
  box-sizing: border-box;
}

.header-logo-navH1 {
  padding-right: 2.5rem;
  color: #fff;
}

@keyframes showMenuLi {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-hea {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.09); */
  height: 6.25rem;
}

.a-h1 {
  text-decoration: none;
  display: flex;
  align-items: center;
  animation: showbutton 1.5s ease-in-out;
}

/* .header-logo-navH1 {
    padding-right: 3.3rem;
  } */

.a-h1 img {
  width: 219px;
}

.a-h1 h2 {
  margin-top: 5px;
  color: #cc3b1e;
  padding-left: 0.9375rem;
  margin-left: 8px;
  border-left: 0.0625rem solid #cc3b1e;
  text-transform: capitalize;
  font-size: 1.35rem;
  line-height: 1.875rem;
  height: 1.875rem;
  font-weight: 400;
}

.search-btn {
  position: relative;
  animation: aniButton 1.5s ease-in-out;
}

.form-input-search input {
  outline: none;
  width: 621px;
  height: 40px;
  border: 3px solid #bb4923;
  padding-left: 8px;
  font-size: 16px;
}

.search-btn .fa-search {
  font-size: 18px;
  color: #fff;
}

.search-btn .a-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: #cc3b1e;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 5rem;
  height: 40px;
  border-radius: 0;
}

.btn-primary {
  color: #fff;
  overflow: visible;
  outline: 0;
}

.search-btn .a-search:hover {
  background-color: rgb(255, 42, 0);
}

/* @keyframes aniButton {
    0% {
      opacity: 0;
      -webkit-transform: translateX(2000px);
      -ms-transform: translateX(2000px);
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
      transform: translateX(-30px);
    }
    80% {
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px);
    }
    100% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes showbutton {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-2000px);
      -ms-transform: translateX(-2000px);
      transform: translateX(-2000px);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
      transform: translateX(30px);
    }
    80% {
      -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      transform: translateX(-10px);
    }
    100% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes navs {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  } */

/* End header */

/* Main */

.main__bill {
  margin-top: 12px;
}

.bill__location {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
}

.bill__bg_location {
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(
    45deg,
    #6fa6d6,
    #6fa6d6 33px,
    transparent 0,
    transparent 41px,
    #f18d9b 0,
    #f18d9b 74px,
    transparent 0,
    transparent 82px
  );
}

.bill__location_text {
  padding: 28px 30px 24px;
}

.group__location_text_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group__location-page {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  color: var(--nc-cl-hd2-dost);
  margin-bottom: 20px;
  text-transform: capitalize;
  flex: 1 1 auto;
}

.Iafoll {
  display: flex;
  margin-right: 9px;
}

.icon-location-marker {
  color: #ee4d2d;
  fill: currentColor;
}

.group__location-page h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

.title__location_edit {
  display: flex;
  align-items: center;
}

.NYnMjH {
  display: flex;
  align-items: center;
  font-size: 1rem;
  word-break: break-word;
}

.FVWWQy {
  font-weight: 700;
  color: #222;
}

.QsWYfx {
  margin-left: 20px;
  word-break: break-word;
}

.uk7Wpm {
  padding: 2px 5px;
  margin-left: 1.5em;
  color: #ee4d2d;
  border-radius: 1px;
  border: 0.5px solid;
  font-size: 10px;
  text-transform: capitalize;
  flex-shrink: 0;
}

a._3WkjWD.div-style {
  color: #4080ee;
  text-transform: capitalize;
  margin-left: 2.5rem;
  cursor: pointer;
  font-size: 15px;
}

.div-style {
  display: block;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-align: inherit;
}

.product_bill {
  margin-top: 12px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.product_bill_title {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 24px 30px 0;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  border-radius: 3px;
}

.flex_text_product_bill {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  font-size: 14px;
  color: #bbb;
}

.textH2 {
  text-align: left;
  flex: 4;
}

.textH2 h2 {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #222;
  font-weight: inherit;
  line-height: inherit;
}

.jNp\+ZB {
  flex: 1.5;
  text-align: center;
}

._04sLFc {
  flex: 2;
}

.jNp\+ZB:last-child {
  justify-content: flex-end;
  text-align: right;
}

.LBqTli {
  flex: 2;
}

.product_full_bill {
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  border-radius: 3px;
}

.product_one_bill {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  border-radius: 3px;
}

.KxX-H6 {
  padding-top: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.09);
  padding-bottom: 20px;
}

._2OGC7L {
  margin: 0 30px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #222;
  min-height: 55px;
}

.h3ONzh:first-child {
  justify-content: flex-start;
}

.h3ONzh {
  flex: 0.75;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EOqcX3 {
  flex: 2;
}

img {
  border: 0;
}

.oEI3Ln {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.gHbVhc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #222;
}

.Le31ox {
  justify-content: flex-start;
  color: #929292;
  flex: 1;
}

.h3ONzh:last-child {
  justify-content: flex-end;
}

.fHRPUO {
  flex: 1;
  font-weight: 500;
}

.Nivkv- {
  background-color: #fafdff;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.ULZMSb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h3.bwwaGp.iL6wsx {
  color: rgba(0, 0, 0, 0.54);
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.kMV1h4,
.ORSmAy {
  font-weight: 500;
}

.R3a05f {
  padding: 0 28px 0 10px;
  height: 40px;
  min-width: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-column-span: 1;
  justify-content: flex-end;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.product__send_bill {
  margin-bottom: 12px;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.DQ7t9K {
  margin-top: 20px;
  background: #fff;
}

h2.a11y-visually-hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

._2qsKTk {
  display: flex;
  align-items: center;
  min-height: 90px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.zDPGhr {
  flex: 1;
}

.SzEjHI {
  width: 200px;
  font-size: 18px;
  color: #222;
}

.KoRB7y {
  font-size: 14px;
  color: #222;
}

a.FooGkf.div-style {
  margin-left: 60px;
  color: #05a;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
}

.OX-2Lj .div-style {
  display: block;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-align: inherit;
}

.KQyCj0 {
  background: #fffefb;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-top: 1px solid #f1f0ed;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: auto;
  grid-column-gap: 55px;
}

.OX-2Lj h1.a11y-visually-hidden,
.OX-2Lj h2.a11y-visually-hidden,
.OX-2Lj h3.a11y-visually-hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

h3.bwwaGp.iL6wsx {
  color: rgba(0, 0, 0, 0.54);
  grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-column-span: 1;
  font-size: 14px;
}

.OX-2Lj h1,
.OX-2Lj h2,
.OX-2Lj h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.bwwaGp {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.R3a05f {
  padding: 0 25px 0 10px;
  height: 40px;
  min-width: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-column-span: 1;
  justify-content: flex-end;
}

.uTFqRt {
  grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-span: 3;
  grid-row-start: 32;
  grid-row-end: 33;
  -ms-grid-row-span: 1;
  min-height: 95px;
  padding: 0 30px;
  margin: 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px dashed rgba(0, 0, 0, 0.09);
}

.k4VpYA {
  padding: 40px 25px 32px 0;
  flex: 1;
}

.C-NSr-:first-child {
  padding: 0 15px;
}
.C-NSr- {
  padding: 12px 15px 0;
  font-size: 14px;
  background-color: #fffdf8;
  color: rgba(0, 0, 0, 0.54);
}

.C-NSr- a {
  color: #05a;
}

/* .stardust-button--primary {
    background: #ee4d2d;
    color: #fff;
}

.stardust-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    background: #fff;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    border-radius: 2px!important;
    color: #555;
    text-transform: capitalize;
    outline: none;
} */

button.stardust-button {
  background: #ee4d2d;
  color: #fff;
  border: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  border-radius: 2px !important;
  text-transform: capitalize;
  width: 210px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

button.stardust-button:hover {
  background: #ee4d2dc9;
}

.group__location_edit {
  display: flex;
  flex-direction: column;
}

.group_location_ip {
  margin: 5px 0;
}

.group_location_ip input {
  width: 500px;
  border: 1px solid #ccc;
  height: 35px;
  outline: none;
  padding-left: 5px;
}

.group_location_ip h4 {
  font-weight: 500;
  margin: 6px 0;
  color: #000000d2;
}

.box_payment_radio {
  overflow: visible;
  cursor: pointer;
  margin: 0 3px;
  min-width: 5rem;
  min-height: 2.125rem;
  box-sizing: border-box;
  padding: 0.25rem 0.75rem;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background: #fff;
  outline: 0;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.box_payment_radio span {
  pointer-events: none;
}

.payment {
  display: flex;
  align-items: center;
}

.box_payment_radio {
  overflow: visible;
  cursor: pointer;
  margin: 0 3px;
  min-width: 5rem;
  min-height: 2.125rem;
  box-sizing: border-box;
  padding: 0.25rem 0.75rem;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background: #fff;
  outline: 0;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.payment_radio {
  position: absolute;
  opacity: 0;
}

.bgPaymentClick {
  color: #ee4d2d;
  border-color: #ee4d2d;
}

/* End main css */

.\+w8dNn {
  margin-top: 20px;
}

.At3Wkr {
  position: relative;
  display: flex;
  align-items: center;
  padding: 28px 30px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.a\+7foe,
.XKo7IA {
  display: flex;
  align-items: center;
}

.a\+7foe {
  position: relative;
  padding: 28px 30px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.kKkbFa,
.W-XOpk {
  display: flex;
}
.W-XOpk {
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
}

.kKkbFa,
.W-XOpk {
  display: flex;
}

.jeFLq1 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
}

.DdeDJA,
.jeFLq1 svg {
  color: #ee4d2d;
}
.jeFLq1 svg {
  width: 24px;
  height: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
.shopee-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

.jeFLq1 .Pd8fbQ {
  font-size: 18px;
  font-weight: 400;
  margin: 0 8px;
}

.vc_Card_card {
  height: var(--vc-card-height, 7.375rem);
  position: relative;
}

.vc_Card_card,
.vc_Card_container {
  margin-bottom: 7px;
}

.vc_Card_inapplicable .vc_Card_left {
  opacity: 0.5;
}

.vc_Card_left {
  background: linear-gradient(
        180deg,
        var(#00bfa5, #e8e8e8) var(--vc-card-sawtooth-margin, 0.25rem),
        transparent 0,
        transparent calc(100% - var(--vc-card-sawtooth-margin, 0.25rem)),
        var(#00bfa5, #e8e8e8)
          calc(100% - var(--vc-card-sawtooth-margin, 0.25rem))
      )
      0 0 /0.0625rem 100% no-repeat,
    linear-gradient(
        180deg,
        var(#00bfa5, #fff) var(--vc-card-sawtooth-margin, 0.25rem),
        transparent 0,
        transparent calc(100% - var(--vc-card-sawtooth-margin, 0.25rem)),
        var(#00bfa5, #fff) calc(100% - var(--vc-card-sawtooth-margin, 0.25rem))
      )
      0 0/100% 100% no-repeat;
  border-bottom: 0.0625rem solid var(#00bfa5, #e8e8e8);
  border-bottom-left-radius: 0.125rem;
  border-top: 0.0625rem solid var(#00bfa5, #e8e8e8);
  border-top-left-radius: 0.125rem;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: var(--vc-card-height, 7.375rem);    
  background-color: #00bfa5;
}

.pd_vch {
  padding: 20px 30px;
}

.vc_Card_sawtooth {
  background: linear-gradient(
        180deg,
        transparent calc(var(#00bfa5, 0.25rem) * 2),
        var(--vc-card-left-border-color, #e8e8e8) 0
      )
      0 0.0625rem /0.0625rem calc(
        var(#00bfa5, 0.25rem) * 2 + var(--vc-card-gap, 0.125rem)
      ) repeat-y,
    radial-gradient(
        circle at 0 var(#00bfa5, 0.25rem),
        transparent 0,
        transparent calc(var(#00bfa5, 0.25rem) - 0.0625rem),
        var(--vc-card-left-border-color, #e8e8e8) 0,
        var(--vc-card-left-border-color, #e8e8e8) var(#00bfa5, 0.25rem),
        var(#00bfa5, #fff) 0
      )
      0 0.0625rem /100% calc(
        var(--vc-card-radius, 0.25rem) * 2 + var(--vc-card-gap, 0.125rem)
      ) repeat-y;
  bottom: calc(var(--vc-card-sawtooth-margin, 0.25rem) - 0.0625rem);
  position: absolute;
  top: calc(var(--vc-card-sawtooth-margin, 0.25rem) - 0.0625rem);
  width: 100%;
}

.vc_Card_right {
  background-color: var(#fff, #fff);
  border: 0.0625rem solid var(#e8e8e8, #e8e8e8);
  border-bottom-right-radius: 0.125rem;
  border-left: none;
  border-top-right-radius: 0.125rem;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - var(--vc-card-height, 7.375rem));
}

.vc_VoucherStandardTemplate_hideOverflow {
  border: 0.0625rem solid transparent;
  border-radius: 0.125rem;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.vc_VoucherStandardTemplate_template {
  border: 0.0625rem solid transparent;
  border-left: none;
  box-shadow: var(
    --vc-template-box-shadow,
    0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.07)
  );
  box-sizing: border-box;
  display: flex;
  height: 100%;
  position: relative;
  transition: background 1s ease;
}

.vc_VoucherStandardTemplate_fsv .vc_VoucherStandardTemplate_left,
.vc_VoucherStandardTemplate_shopee .vc_VoucherStandardTemplate_left {
  border-right: none;
}

.vc_VoucherStandardTemplate_left {
  align-items: center;
  border-right: 0.0625rem dashed #e8e8e8;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: var(--vc-card-height, 7.375rem);
}

.vc_Logo_imageLogo {
  align-items: center;
  display: flex;
  justify-content: center;
}

.vc_Logo_logo {
  display: block;
  height: var(--vc-logo-size, 3.5rem);
  width: var(--vc-logo-size, 3.5rem);
}

img {
  border: 0;
}
user agent stylesheet img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.vc_free-shipping-voucher_pc {
  --vc-logo-size: 3.5rem;
  --vc-expiry-font-size: 0.75rem;
  --vc-expiry-line-height: 0.875rem;
  --vc-expiry-margin-top: 0.25rem;
  --vc-main-title-font-size: 0.875rem;
  --vc-main-title-line-height: 1rem;
  --vc-product-scope-font-size: 0.75rem;
  --vc-product-scope-line-height: 0.875rem;
  --vc-product-scope-padding: 0.0625rem 0.25rem;
  --vc-icon-text-font-size: 0.75rem;
  --vc-icon-text-line-height: 0.875rem;
  --vc-icon-text-max-height: 1.75rem;
  --vc-icon-text-margin-top: 0.25rem;
  --vc-radio-button-border: 0.0625rem solid rgba(0, 0, 0, 0.14);
  --vc-radio-button-box-shadow: var(--black2) 0 0.125rem 0 0;
  --vc-card-width: auto;
  margin-bottom: 15px;
}

.vc_Card_fsv {
  --vc-card-left-border-color: #00bfa5;
  --vc-card-left-fill-color: #00bfa5;
  --vc-card-right-border-color: #e8e8e8;
  --vc-card-background-color: #fff;
}
.stardust-popup-content {
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
}

.vc_IconText_oneLine {
  -webkit-line-clamp: 1;
  color: white;
}

.vc_IconText_defaultLine,
.vc_IconText_oneLine {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vc_IconText_iconText {
  -webkit-box-pack: center;
  color: var(--vc-icon-text-color, rgba(0, 0, 0, 0.87));
  font-size: var(--vc-icon-text-font-size, 0.75rem);
  line-height: var(--vc-icon-text-line-height, 0.875rem);
  margin-top: var(--vc-icon-text-margin-top, 0.3125rem);
  max-height: var(--vc-icon-text-max-height, 1.75rem);
  max-width: 90%;
  opacity: var(--vc-icon-text-opacity, 1);
  padding: 0 0.25rem;
  text-align: center;
  white-space: var(--vc-icon-text-white-space, unset);
  word-break: break-word;
}

.vc_IconSubText_white {
  color: #fff;
}

.vc_VoucherStandardTemplate_middle {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-left: 0.75rem;
  position: relative;
}

.vc_IconSubText_iconSubText {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-box-pack: center;
  color: var(--vc-icon-sub-text-color, rgba(0, 0, 0, 0.87));
  display: -webkit-box;
  font-size: var(--vc-icon-sub-text-font-size, 0.625rem);
  line-height: var(--vc-icon-sub-text-line-height, 0.875rem);
  margin-top: var(--vc-icon-sub-text-margin-top, 0.125rem);
  max-height: var(--vc-icon-sub-text-max-height, 1.75rem);
  max-width: 90%;
  opacity: var(--vc-icon-sub-text-opacity, 0.8);
  overflow: hidden;
  padding: 0 0.5rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: var(--vc-icon-sub-text-white-space, unset);
  word-break: break-word;
}

.vc_A11yAriaText_A11yContent {
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

user agent stylesheet div {
  display: block;
}

.vc_free-shipping-voucher_pc {
  --vc-logo-size: 3.5rem;
  --vc-expiry-font-size: 0.75rem;
  --vc-expiry-line-height: 0.875rem;
  --vc-expiry-margin-top: 0.25rem;
  --vc-main-title-font-size: 0.875rem;
  --vc-main-title-line-height: 1rem;
  --vc-product-scope-font-size: 0.75rem;
  --vc-product-scope-line-height: 0.875rem;
  --vc-product-scope-padding: 0.0625rem 0.25rem;
  --vc-icon-text-font-size: 0.75rem;
  --vc-icon-text-line-height: 0.875rem;
  --vc-icon-text-max-height: 1.75rem;
  --vc-icon-text-margin-top: 0.25rem;
  --vc-radio-button-border: 0.0625rem solid rgba(0, 0, 0, 0.14);
  --vc-radio-button-box-shadow: var(--black2) 0 0.125rem 0 0;
  --vc-card-width: auto;
  margin-bottom: 15px;
}

.vc_Card_fsv {
  --vc-card-left-border-color: #00bfa5;
  --vc-card-left-fill-color: #00bfa5;
  --vc-card-right-border-color: #e8e8e8;
  --vc-card-background-color: #fff;
}
.stardust-popup-content {
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
}
.stardust-popup-content,
.stardust-popup-title {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans,
    Arial, sans-serif;
  font-weight: 400;
}

.vc_MainTitle_mainTitle {
  display: flex;
}

.vc_MainTitle_fsvLine {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  white-space: normal;
  word-break: break-word;
}

.vc_MainTitle_defaultLine,
.vc_MainTitle_fsvLine {
  overflow: hidden;
  text-overflow: ellipsis;
}

.vc_MainTitle_text {
  color: var(--vc-main-title-color, rgba(0, 0, 0, 0.8));
  font-size: var(--vc-main-title-font-size, 1rem);
  font-weight: 500;
  line-height: var(--vc-main-title-line-height, 1.25rem);
  white-space: var(--vc-card-mian-title-white-space, nowrap);
}

.vc_Subtitle_oneLine {
  -webkit-line-clamp: 1;
}

.vc_Subtitle_defaultLine,
.vc_Subtitle_oneLine {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vc_Subtitle_subTitle {
  color: var(--vc-sub-title-color, rgba(0, 0, 0, 0.8));
  font-size: var(--vc-subtitle-font-size, 0.875rem);
  font-weight: var(--vc-subtitle-font-weight, normal);
  line-height: var(--vc-subtitle-line-height, 1rem);
  margin: var(--vc-sub-title-margin, 0);
  padding: var(--vc-sub-title-padding, 0);
  text-align: var(--vc-subtitle-text-align, unset);
  white-space: var(--vc-sub-title-white-space, unset);
  word-break: break-word;
}

.vc_Label_label {
  display: flex;
  margin: var(--vc-card-label-margin, 0.3125rem 0 0.25rem 0);
  min-width: 0;
  overflow: hidden;
  padding: var(--vc-card-label-padding, 0);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vc_Label_label div:only-child {
  max-width: 100%;
}

.vc_Label_label .vc_Label_shopeeWalletLabel {
  border: 1px solid #ee4d2d;
  border-radius: 0.125rem;
  box-sizing: border-box;
  color: #ee4d2d;
  margin: 0.0625rem 0;
  max-width: 100%;
  overflow: hidden;
  padding: var(--vc-card-label-content-padding, 0.0625rem 0.25rem);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vc_Label_label div:only-child {
  max-width: 100%;
  color: red;
}

.vc_Label_label .vc_Label_shopeeWalletLabelContent {
  align-items: center;
  font-size: var(--vc-card-label-font-size, 0.75rem);
  line-height: var(--vc-card-label-line-height, 0.875rem);
  overflow: hidden;
  text-overflow: ellipsis;
}

.vc_ProgressBarExpiry_progressBarExpiry {
  color: rgba(0,0,0,.54);
  font-size: var(--vc-expiry-font-size,.75rem);
  line-height: var(--vc-expiry-line-height,.875rem);
  margin: var(--vc-card-progress-expiry-margin,.25rem 0 0 0);
  margin-top: var(--vc-expiry-margin-top,.25rem);
  overflow: hidden;
  padding-right: var(--vc-card-progress-expiry-padding-right,0);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vc_ProgressBarExpiry_progressBar {
  margin-bottom: 0.25rem;
  margin-right: 0.3125rem;
  --vc-progress-bar-percentage: 99%;
}

.vc_ProgressBar_progressBar {
  background: linear-gradient(90deg,transparent var(--vc-progress-bar-percentage),var(--vc-progress-bar-bg-color,#e8e8e8) 0),linear-gradient(90deg,var(--vc-progress-bar-start-color,#eb1717),var(--vc-progress-bar-end-color,#ffb000));
  border-radius: var(--vc-progress-bar-height,4px);
  height: var(--vc-progress-bar-height,4px);
}

.vc_ProgressBarExpiry_progressBarExpiry {
  color: rgba(0,0,0,.54);
  font-size: var(--vc-expiry-font-size,.75rem);
  line-height: var(--vc-expiry-line-height,.875rem);
}

.vc_ProgressBarExpiry_progressBarExpiry {
  color: rgba(0,0,0,.54);
  font-size: var(--vc-expiry-font-size,.75rem);
  line-height: var(--vc-expiry-line-height,.875rem);
  margin: var(--vc-card-progress-expiry-margin,.25rem 0 0 0);
  margin-top: var(--vc-expiry-margin-top,.25rem);
  overflow: hidden;
  padding-right: var(--vc-card-progress-expiry-padding-right,0);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vc_ProgressBarExpiry_isRunningOutSoon {
  color: #ff424f;
  font-weight: 500;
}

.vc_ProgressBarExpiry_isEndingSoon {
  color: #ff424f;
}

.vc_VoucherStandardTemplate_right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  position: relative;
}

.vc_VoucherStandardTemplate_center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.vc_RadioButton_radioDisabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.vc_RadioButton_radio {
  fill: currentColor;
  stroke: currentColor;
  align-items: center;
  border: var(--vc-radio-button-border,1px solid rgba(0,0,0,.14));
  border-radius: 50%;
  box-shadow: var(--vc-radio-button-box-shadow,rgba(0,0,0,.02) 0 2px 0 0);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 1.125rem;
  justify-content: center;
  width: 1.125rem;
}

.vc_RadioButton_radioDisabled {
  accent-color: #ee4d2d;
}

.vc_TNCLink_tncLink {
  cursor: pointer;
  display: inline;
  font-size: var(--vc-tnclink-font-size,.75rem);
  font-weight: 500;
  text-transform: capitalize;
}

.vc_TNCLink_tncLink>a {
  color: #508be3;
  text-decoration: none;
}

.pd_vch {
  background-color: #fff;
}

.pd_vch {
  display: flex;
  flex-wrap: wrap;
}

.vc_IconSubText_white {
  color: #fff;
}

.uw1QJu {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  border-bottom: 1px dashed rgba(0,0,0,.09);
  padding: 18px 30px;
}

.D2AHAU, .za7qoR {
  display: flex;
}

.D2AHAU {
  flex: 6;
  align-items: center;
  justify-content: flex-end;
}

.D2AHAU, .za7qoR {
  display: flex;
}

.hcC4-3 {
  font-size: 14px;
}

.hcC4-3, .zjjc32 {
  display: flex;
  align-items: center;
}

.hcC4-3 svg {
  margin-right: 4px;
  width: 24px;
  height: 100%;
  color: #ee4d2d;
}

.hcC4-3, .zjjc32 {
  display: flex;
  align-items: center;
}

.zjjc32 {
  flex: 4;
  justify-content: flex-end;
}

._64JAsH {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  float: right;
  box-shadow: 0 0 0 0!important;
  border: 0!important;
  color: #05a!important;
  line-height: 21px;
  font-size: 14px;
  text-transform: none!important;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
}

.yeg4Dy {
  margin-right: 15px;
}

.uLPYi2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-style: solid;
  border-width: 0.0625rem 0;
  color: #ee4d2d;
  margin-left: 0.5rem;
  padding: 0 0.3125rem;
  font-size: .75rem;
  height: 1.1875rem;
  box-sizing: border-box;
  cursor: default;
}

.uLPYi2 {
  border-color: rgb(238, 77, 45);
  color: rgb(238, 77, 45);
}

.f3xPPv {
  left: 0;
}

.f3xPPv, .odBn9- {
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}


.f3xPPv svg, .odBn9- svg {
  width: 5px;
  height: 35px;
  fill: rgb(238, 77, 45);
}

.odBn9- {
  right: 0;
  transform: rotate(180deg);
}

.f3xPPv, .odBn9- {
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  overflow: hidden;
}

/* .item_voucher {
  display: none;
} */

/* Css model */

.shopee-popup-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: unset;
  margin: 2.25rem 37px 0 37px;;
}

.shopee-popup-form__title {
  font-weight: 400;
  font-size: 1.25rem;
  color: #222;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.stardust-popover {
  position: relative;
}

.stardust-popup-content {
  font-size: 14px;
  text-align: left;
  color: rgba(0,0,0,.54);
}

.stardust-popup-content, .stardust-popup-title {
  font-family: -apple-system,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
  font-weight: 400;
}

.w9zs1- {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

svg:not(:root) {
  overflow: hidden;
}

.shopee-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

.vanhstore-popup__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

.vanhstore-popup__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  overflow: visible;
  max-height: 100%;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

.vanhstore-alert-popup {
  width: 31.25rem;
  padding: 1.25rem;
  overflow: visible;
}

.card {
  background: #fff;
  border-radius: 3px;
  
}

.vanhstore-alert-popup__message-list {
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
}

.vanhstore-alert-popup {
  background-color: #fff;
}

.vanhstore-alert-popup__message {
  margin-top: 2.5rem;
  font-size: 1rem;
}

.vanhstore-alert-popup__button-horizontal-layout {
  display: flex;
  margin-top: 6.25rem;
}

.button__request__confirm {
  flex: 1;
  padding: 0.75rem 0;
  text-transform: capitalize;
  position: relative;
  overflow: visible;
  outline: 0;
  background: var(--nc-cl-hd2-dost);
  cursor: pointer;
  border: 0;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: opacity .2s ease;
  border-radius: 2px;
  user-select: none;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
}

.button__request__confirm:hover {
  background-color: var(--nc-cl-hd2-dost_hover);
}

.vanhstore-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 600;
  display: none;
  flex-direction: column;
}

.vanhstore-popup__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

.vanhstore-popup__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  overflow: visible;
  max-height: 100%;
  max-width: 100%;
}

.gLboXK {
  font-size: 1rem;
  background: #fff;
  border-radius: 3px;
  width: 31.5rem;
  padding: 0 2.5rem 1.5rem;
  height: 448px;
  overflow-y: auto;
  margin-top: 27px;
}

.hr7yn9 {
  line-height: 1.125rem;
  font-size: 1rem;
  color: #333;
}

.rySPUB {
  margin-bottom: 2.1875rem;
  margin-top: 2.1875rem;
  margin-right: 26px;
  display: flex;
  justify-content: flex-end;
}

.vanhstore-button-solid {
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .1s cubic-bezier(.4,0,.6,1);
  position: relative;
  background: rgba(0,0,0,.54);
  color: #fff;
  transition: opacity .2s ease;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
}

.vanhstore-button-solid--primary {
  position: relative;
  overflow: visible;
  outline: 0;
  background: #ee4d2d;
}

.rySPUB .vanhstore-button-solid--confirm-popup {
  width: 6.5625rem;
  min-height: 2.5rem;
  font-size: .875rem;
}

.rySPUB .vanhstore-button-solid--confirm-popup {
  text-transform: uppercase;
  margin-right: 1.5rem;
}

.vanhstore-button-solid--primary:not(.vanhstore-button-solid--disabled):hover {
  background: #f05d40;
}

.cancel-btn {
  padding: 10px 0;
  box-sizing: border-box;
  width: 140px;
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 400;
  cursor: pointer;
  color: #555;
  margin-right: 6px;
  line-height: 1;
  background: none;
  border: 0;
  transition: background-color .1s cubic-bezier(.4,0,.6,1);
}

.rySPUB .cancel-btn {
  width: 6.5625rem;
  min-height: 2.5rem;
  font-size: .875rem;
}

.cancel-btn:hover {
  background: #f8f8f8;
}

/* End css model */

/* footer */

footer {
  border-top: 4px solid var(--nc-cl-hd);
  margin-top: 80px;
  background: #fff;
  height: 338px;
}

.delivery {
  background: var(--nc-cl-hd);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  top: -40px;
}

.delivery-content {
  display: flex;
  align-items: center;
}

.delivery-content img {
  width: 44px;
  height: 44px;
}

.delivery-text {
  margin-left: 10px;
}

.delivery-text h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.delivery-text p {
  color: #fff;
}

.footer-information {
  color: #000;
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
}

.footer-text h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 22px;
  color: #000000c7;
}

.footer-text .logo__vanhCart_footer {
  width: 219px;
}

.footer-text p {
  font-size: 17px;
  margin-bottom: 10px;
}

.address-footer li {
  margin-bottom: 15px;
}

.address-footer-hover ul {
  list-style: none;
  width: 120px;
}

.address-footer-hover li {
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

.address-footer-hover a {
  color: #000000c7;
  transition: all 0.3s ease-in-out;
}

.address-footer-hover li:hover {
  transform: translateX(7px);
  color: var(--nc-cl-hd);
}

.address-footer-hover li:hover a {
  color: var(--nc-cl-hd);
}

.form-footer input {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  border: 1px solid #00000054;
}

.form-footer input:focus {
  box-shadow: 0px 0px 8px rgb(7, 210, 246);
  transition: 0.2s ease-in-out;
}

.form-footer .send {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(0 128 0 / 67%);
  border: none;
  font-weight: 600;
  transition: 0.3s;
}
.form-footer .reset {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(255 0 0 / 60%);
  border: none;
  font-weight: 600;
  transition: 0.3s;
}

.form-footer .send:hover {
  background-color: rgb(3, 175, 3);
}

.form-footer .reset:hover {
  background-color: rgb(255, 0, 0);
}
