* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("../../Webvanhstore/img1/yt.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -220px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* 
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/yt.png') no-repeat;
    background-size: cover;
    background-position-y: -210px;
    transform: scaleX(-1);
} */

header {
  background-color: #00000082;
  box-shadow: 0 10px 40px #000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 99;
}

header h1 {
  color: #fff;
  font-size: 40px;
}

.a-h1 {
  text-decoration: none;
}

nav .nav-menu {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 40px;
  transition: all 0.3s ease-in-out;
}

nav .nav-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -6px;
  background-color: #fff;
  border-radius: 7px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

nav .nav-menu:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.active {
  display: inline;
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 1.3em;
  font-weight: 500;
  margin-left: 50px;
  transition: 0.5s;
  text-decoration: none;
}

.active:hover {
  background-color: #fff;
  color: #000;
}

main {
  position: relative;
  top: 50px;
  width: 400px;
  height: 550px;
  left: 270px;
  background: transparent;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  padding: 50px 40px;
  /* position: relative;
    overflow: hidden; */
}

/* .wrapper::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 640px;
    background: linear-gradient(60deg, transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.wrapper::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 640px;
    background: linear-gradient(60deg, transparent,#ff45ff,#f645ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

.wrapper h2 {
  font-size: 2.2em;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.text {
  position: relative;
  margin: 0 0 40px 0;
}

.text input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 3px solid #fff;
  transition: 0.3s;
  font-size: 1.1em;
  color: #fff;
}

#name_error,
#email_error,
#phone_error,
#password_error,
#newPassword_error {
  position: absolute;
  left: 0;
  top: 50px;
  color: red;
}

::placeholder {
  color: #fff;
}

.btn-sub {
  text-align: center;
  margin-bottom: 20px;
}

.btn-sub h5 {
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.btn-sub a {
  text-decoration: none;
  color: #ff0a27;
  transition: 0.3s;
}

.btn-sub a:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: 0.4s;
}

.wrapper button:hover {
  background-color: cyan;
  color: #fff;
  box-shadow: 0 0 0 2px cyan;
}

.text i {
  position: absolute;
  color: rgb(203, 203, 255);
  font-size: 18px;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.text .fa-eye {
  display: none;
}

.fa-eye-slash,
.fa-eye {
  cursor: pointer;
}

/* .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  justify-content: center;
}

.success-popup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 200px;
  color: #000;
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  animation: show 0.3s ease-in-out;
  
}

.success-popup h2 {
  margin-bottom: 40px;
  font-size: 35px;
}

.success-popup a {
  position: absolute;
  bottom: 40px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 8px 20px;
  transition: 0.3s ease-in-out;
}

.success-popup .home {
  left: 200px;
}

.success-popup .home:hover {
  background-color: rgb(103, 183, 210);
  border: 2px solid rgb(103, 183, 210);
  color: #fff;
}

.success-popup .quay {
  right: 210px;
}

.success-popup .quay:hover {
  background-color: #878787;
  border: 2px solid #878787;
  color: #fff;
}

.show-over {
  display: flex;

}

@keyframes show {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
} */